a:link, a:active, a:visited {
    color:					black;
    text-decoration:		none;
}
a:hover {
    color:					black;
    text-decoration:		underline;
}
a {
    width:                  100%;
    height:                 100%;
    display:                block;
}
p {
    padding:				0;
    margin:					0;
}
body {
    text-align: 			center;
    font-family:			verdana, arial;
    background-color:       black;
}
div#container {
    width:					994px;
    margin:					0 auto 0 auto;
    text-align:				left;
    background-color:		white;
    padding:                15px;
}
button {
    width:                  160px;
    height:                 22px;
}
hr {
    width:                  200px;
}
fieldset {
    padding:                15px;
}
#selects {
    width:                  250px;
    height:                 30px;
    padding-left:           10px;
    font-size:              14px;
}
select {
    width:                  200px;
}
